.body {
  font-size: inherit;
}

.rocket-item {
  display: flex;
  gap: 10px;
}

.rocket-list-image {
  max-width: 200px;
  height: auto;
}

.reserved-badge {
  border: 0;
  border-radius: 4px;
  padding: 3px 5px;
  margin-right: 2px;
  background-color: cornflowerblue;
  color: white;
  font-size: 1.2vh;
}

.reserve-button {
  background-color: cornflowerblue;
}

.cancel-button {
  background-color: white;
  border: 1px solid grey;
  color: grey;
}
